h2 {
    font-size: 29px;
}

h3 {
    font-size: 21px;
}

.lead {
    font-size: 15px;
}

.gamestore {
    background-color: red;
}

h2.gamestore {
    color: white;
}

.btn.gamestore {
    color: white;
    background-color: darkred;
}

.hero-background-img {
    position: relative;
    background: rgba(0, 0, 0, 0);
    padding-top: 350px;
    padding-bottom: 350px;
}
  
.hero-background-img:after {
    content: "";
    position: absolute;
    background-image: url("images/Super-Mario-3D_All-Stars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.read-more {
    color: red;
}

.read-more-1 {
    font-size: 12px;
    text-decoration: underline;
    text-decoration-color: red;
}

div > .btn {
    color: white;
    background-color: red;
}

footer ul {
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
}

.footer-nav-header {
    font-weight: bold;
    color: #222;
}

.footer-nav-link {
    font-size: 12px;
    color: #222;
}